{% extends 'layout.html.twig' %}

{% block head %}
    <title>Quelques chiffres</title>
    <meta name="description" content="Après sept années de fonctionnement, le PUF-HCM a confirmé sa position dans l'éducation globale au Vietnam." />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="keywords" content="IT Ho Chi Minh, Pole universitaire francais, puf, puf hcmv, pufhcm en chiffres, puf éducation,
          Pole universitaire francais diplömés, Puf enseignement"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" /> 
    <link rel="icon" type="image/png" href="{{ app.request.basePath }}/Ressources/Img/favicon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.basePath }}/Ressources/Img/favicon.ico" />
    <link href="{{ app.request.basePath }}/Styles/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ app.request.basePath }}/Js/jquery.autocomplete.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn-connexion").click(function () {
                $(".contains.connexion").slideToggle(0);
            });

            $('#searchbar').autocomplete({
                 serviceUrl: '{{ path('search') }}',
                 dataType: 'json'
             });

            $('#btn-search').click(function(){
                var temp = $('#searchbar').val();
                if (temp != ''){
                     var arr = temp.split('-');
                    $.trim(arr[0]);
                    var route = "{{ path('searchID', { 'lib': "PLACEHOLDER" }) }}";
                    window.location = route.replace("PLACEHOLDER",arr[0]);
                }
            });
        });
    </script>
{% endblock %}
{% block chiffre %}
    <div id="filAriane">
        <h4><a href="{{ path('home') }}">Accueil</a> > PUF > Quelques chiffres</h4>
    </div>
    <div id="chiffresContainer"> 
        <h1>LE PUF EN CHIFFRES</h1>
        <div id="chiffresInfos">
            <div id="p1">
                <h2>Combien d'étudiants ?</h2>
                <div class="ligne"></div>
                <p>
                    Après sept années de fonctionnement, le PUF-HCM a confirmé sa position dans l'éducation globale au Vietnam. 
                    C'est plus de 500 étudiants chaque année qui participent à six programmes de formation.<br/>
                </p>
            </div>
            <div id="p2">
                <h2>Généralité</h2>
                <div class="ligne"></div>
                <p> L'enseignement supérieur Vietnamien entre 2002 et 2013:</p><br/>
                <table id="chiffresTab">
                    <tr> 
                        <th></th>
                        <th> 2002 - 2003 </th>
                        <th> 2012 - 2013 </th>
                        <th> de 2003 à 2013 </th>
                    </tr>
                    <tr> 
                        <td> Nombres d'étudiants </td>
                        <td> 1 020 677 </td>
                        <td> 2 177 299 </td>
                        <td> + 113% </td>
                    </tr>
                    <tr> 
                        <td> Nombres de diplômés </td>
                        <td> 163 960 </td>
                        <td> 425 208 </td>
                        <td> + 159% </td>
                    </tr>
                    <tr> 
                        <td>Nombre d'Universités </td>
                        <td> 81 </td>
                        <td> 207 </td>
                        <td> + 156% </td>
                    </tr>
                </table><br/>
                <p>En 2013, 176 917 diplômes de Cao dang (bac+3, qui valide un cursus d’enseignement supérieur professionnel) ont été délivrés.</p>
            </div>
            <div id="p3">
                <h2>Coopérations existantes avec les établissements d’enseignement supérieur </h2>
                <div class="ligne"></div>
                <p>
                    En septembre 2012, le ministère vietnamien a confirmé son autorisation pour 179 programmes de formation en partenariat avec des 
                    institutions étrangères. La France est le premier partenaire avec 25 programmes. 
                </p>
            </div>
            <!--<div id="img2"><a><img src="Img/vietnam-drap.jpg" alt="vietnam" style="height: 200px;"/></a></div>-->
            <div id="p4">
                <h2>Le rôle de la France</h2>
                <div class="ligne"></div>
                <p>
                    La France a fait de l’enseignement supérieur une priorité de son action de coopération avec le Vietnam. 
                    Celle-ci prend la forme de programmes de bourses d’études supérieures en France et de projets de soutien à des formations 
                    supérieures françaises délocalisées au Vietnam. Parmi celles-ci figurent les Pôles Universitaires Français(PUF) d’Hanoi et 
                    d’Ho Chi Minh-Ville qui délivrent 18 diplômes français et le Centre Franco-Vietnamien de formation à la Gestion (CFVG), 
                    première business school du Vietnam.<br/> 
                    Un important programme de formation médicale a permis par ailleurs de former plus de 2 000 médecins spécialistes en 20 ans.<br/> 
                    Enfin, en novembre 2009, le projet d’une nouvelle université publique vietnamienne, l’Université des Sciences et des 
                    Technologies de Hanoi (USTH), a été lancé. Ce projet développé dans le cadre d’un partenariat stratégique avec un consortium 
                    d’universités françaises a pour objectif de scolariser à terme 8 000 étudiants en associant étroitement formation-recherche 
                    et innovation et de se classer parmi les 200 meilleures universités mondiales.
                </p>
            </div>                    
        </div>
    </div>
{% endblock %}
